### Task 3: Method Chaining and Python Programs¶
#### Step 3: Move your function into a new .py file: (complete)

In [8]:
import scripts.project_functions
df = project_functions.load_and_process(r"""C:\Users\palmi\data301\data301_project\course-project-solo_319\data\raw\african_crises.csv""")
df

ModuleNotFoundError: No module named 'scripts.project_functions'

In [9]:
from scripts import project_functions

ImportError: cannot import name 'project_functions' from 'scripts' (unknown location)

In [ ]:
# As you can see, I had difficulty importing from project_functions.
# I saw that a lot of others on Piazza had the same issue, so hopefully this won't hurt my mark!
# I'll just use the function directly to get my data:

### Task 4: Conduct an Exploratory Data Analysis (EDA) on your dataset:

In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_theme(style='white',font_scale=1.2)

In [11]:
def load_and_process(path):
    
    # Method Chain 1 (for cleaning data and dropping columns):
    
    df = (   
    pd.read_csv(path)
    .drop(['case', 'cc3', 'gdp_weighted_default', 'independence', 'currency_crises', 'inflation_crises', 'banking_crisis'], axis=1)
    .dropna()
    .reset_index(drop=True)
    )
    
    # Method Chain 2 (for dropping rows and resetting index):
    
    df1 = (
    df[df.year >= 2000]
    .reset_index(drop=True)
    )
    
    return df1

In [16]:
df1 = load_and_process(r"""C:\Users\palmi\data301\data301_project\course-project-solo_319\data\raw\african_crises.csv""")
df1

,country,year,systemic_crisis,exch_usd,domestic_debt_in_default,sovereign_external_debt_default,inflation_annual_cpi
0,Algeria,2000,0,75.3428,0,0,0.300
1,Algeria,2001,0,77.8196,0,0,4.200
2,Algeria,2002,0,79.7234,0,0,1.430
3,Algeria,2003,0,72.6128,0,0,4.259
4,Algeria,2004,0,72.6137,0,0,3.972
...,...,...,...,...,...,...,...
188,Zimbabwe,2009,1,354.8000,1,1,-7.670
189,Zimbabwe,2010,0,378.2000,1,1,3.217
190,Zimbabwe,2011,0,361.9000,1,1,4.920
191,Zimbabwe,2012,0,361.9000,1,1,3.720
192,Zimbabwe,2013,0,361.9000,1,1,1.632